{% extends 'main/base.html' %}
{% load static %}

{% block content %}

	<center>
	<form class="common" method="post" action="">

	<label class="audioOnly" for="user_email">Email</label> 
	<input type="email" name="user_email" required placeholder="Email">

	<br><br>
	<label class="audioOnly" for="user_pwd">Password</label> 
	<input type="password" name="user_pwd" required placeholder="Password">

	<br><br>
	<label>
	<input type="checkbox"> Remember me
	</label>

	<button>Log In</button>

	</form>
	</center>
	
{% endblock %}
