{% extends 'main/base.html' %}
{% load static %}

{% block content %}

		{% if form %}
			<form action="" method="POST" class="common">
				{% csrf_token %}
				<label for="placeName">From</label>
				{{ form.fromName }}
                <br><br>
				<label for="placeName">To</label>
				{{ form.toName }}
                <br><br>
				<input type="submit" value="OK">
			</form>
		{% endif %}
		
		{% if route %}
			<p style="font-size:20px; color:blue; font-family: 'Times New Roman';" class="common">
				{{route}}
			</p>
		{% else %}
			<!-- <p>No polls are available.</p> -->
		{% endif %}

{% endblock %}
