<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Explore_Around/home.css' %}">
    <link rel="icon" href="{% static 'Explore_Around/Images/logo.ico' %}">
  </head>
  <body>
	<p style="position:fixed;bottom:0;right:0px;border: 3px solid #00AAAA;padding: 10px;">
		A work by 
		<a href="https://github.com/github-ag/" style="text-decoration:None;">AG</a><a href="https://github.com/github-sr/" style="text-decoration:None;">SR</a>
	</p>

  </body>
</html>
