<html>
<head>
	<!--Combining HTML, CSS, JS-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Explore_Around/Home.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="WebsiteName"><marquee><div class="heading1">Travel-Go</div></marquee></div>
	<!-- Top Bar -->
	<div class="topnav">
		<a class="active" href="/Explore_Around/home/">Home</a>
		<a href="/Explore_Around/placeinfo/">Place Info</a>
		<a href="/Explore_Around/distance/">Distance</a>
		<a href="/Explore_Around/metro/">Metro</a>		<!--  href="#Metro"  -->
		<a href="/Explore_Around/hotel/">Hotel</a>
		<a href="/Explore_Around/weather/">Weather</a>
		<a href="/Explore_Around/login/">Login</a>
		<a href="/Explore_Around/mailus/">Mail Us</a>
		<a href="/Explore_Around/aboutus/">About Us</a>
	</div>

	<div id="wrapper">
		<div id="text">
			<h3>Our project Travel-Go</h3><br>
			<p> This is our python based project containing concept of webscraping, graph taversal, Machine Learning<br>
				<small>Source: <a href="https://www.google.com" target="_blank">Google</a></small></p><br>
				
				<!-- target="_blank" helps in opening current link in new tab when link is clicked -->
		</div>
		<div id="images">
			<div id="a">
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/place.jpg' %}" alt="Img" width="275" height="200" align="left"/></a>
				<span>Decription of place info code</span>
				<br><br><br><br><br><br><br><br><br><br>	<!--Aligning images, No of br tags is based on size of text in description above-->
			</div>
			<div>
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/distance.jpg' %}" alt="Img" width="275" height="200" align="right"/></a>
				<span>Decription of distance code</span>
				<br><br><br><br><br><br><br><br><br><br>	<!--Aligning images, No of br tags is based on size of text in description above-->
			</div>
			<div>
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/metro.jpg' %}" alt="Img" width="275" height="200" align="left"/></a>
				<span>Decription of metro code</span>
				<br><br><br><br><br><br><br><br><br><br>	<!--Aligning images, No of br tags is based on size of text in description above-->
			</div>
			<div>
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/hotel.jpg' %}" alt="Img" width="275" height="200" align="right"/></a>
				<span>Decription of hotel code</span>
				<br><br><br><br><br><br><br><br><br><br>	<!--Aligning images, No of br tags is based on size of text in description above-->
			</div>
			<div>
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/weather.jpg' %}" alt="Img" width="275" height="200" align="left"/></a>
				<span>Decription of weather code</span>
				<br><br><br><br><br><br><br><br><br><br>	<!--Aligning images, No of br tags is based on size of text in description above-->
			</div>
			<div>
				<a href="https://www.google.com">
				<img src="{% static 'Explore_Around/Images/mail.png' %}" alt="Img" width="275" height="200" align="right"/></a>
				<span>Decription of mail code</span>
			</div>


		</div>
	</div>
	
	<p>
		<!--Add links here-->
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
		aaaaaaaaaaa<br>
	</p>

	<p style="position:fixed;bottom:0;right:0px;border: 3px solid #00AAAA;padding: 10px;">
		A work by 
		<a href="https://github.com/github-ag/" style="text-decoration:None;">AG</a><a href="https://github.com/github-sr/" style="text-decoration:None;">SR</a>
	</p>
</body>
</html>