<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Explore Around</title>
  </head>
  <body>
    {% include "./navbar.html" %}

    <!--img class="boy1" src="boy1.PNG" alt="Let's Travel" height="200"width="200"-->
    <img class="boy2"src="Images/boy2.PNG" alt="Boy2" height="400"width="400">
    <h2>Let's travel to..</h2>
    <form class="Destination" action="/html/codes/html_form_handler.cfm" method="post" enctype="text/plain" >
      <input type="search" name="Name" value="" placeholder="Enter Destination" >
    </form>


  </body>
</html>
