<!DOCTYPE>
<html>
<head>
	<!--Combining HTML, CSS, JS-->
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explore Around | Hotel</title>
</head>

<body>
    {% include "./navbar.html" %}
    
		{% if form %}
			<form action="/Explore_Around/Hotel/" method="POST" class="common">
				{% csrf_token %}
				<label for="placeName">Place Name</label>
				{{ form }}
				<input type="submit" value="OK">
			</form>
		{% endif %}
		
		{% if info %}
			<p style="font-size:20px; color:blue; font-family: "Times New Roman";" class="common">
				{{info}}
			</p>
		{% else %}
			<!-- <p>No polls are available.</p> -->
		{% endif %}

    {% include "./footer.html" %}
</body>
</html>