<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Explore_Around/home.css' %}">
    <link rel="icon" href="{% static 'Explore_Around/Images/logo.ico' %}">
  </head>
  <body>
    <div class="heading">
    <h1>Explore Around</h1>
    </div>
    <div class="navigation">
      <a href="/Explore_Around/home/">🏠Home</a>
      <a href="/Explore_Around/placeinfo/">📖Place Guide</a>
      <a href="/Explore_Around/distance/">🚔Distance</a>
      <a href="/Explore_Around/weather/">☁️Weather</a>
		<a href="/Explore_Around/metro/">Metro</a>		<!--  href="#Metro"  -->
		<a href="/Explore_Around/hotel/">Hotel</a>
      <a href="/Explore_Around/mailus/">📧Mail Us</a>
      <a href="/Explore_Around/aboutus/">😉About Us</a>
		<a href="/Explore_Around/login/">Login</a>
    </div>

  </body>
</html>
