<!DOCTYPE>
<html>
<head>
	<!--Combining HTML, CSS, JS-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Explore_Around/PlaceInfo.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="WebsiteName"><marquee><div class="heading1">Travel-Go</div></marquee></div>
	<!-- Top Bar -->
	<div class="topnav">
		<a href="/Explore_Around/home/">Home</a>
		<a class="active" href="/Explore_Around/placeinfo/">Place Info</a>
		<a href="/Explore_Around/distance/">Distance</a>
		<a href="/Explore_Around/metro/">Metro</a>
		<a href="/Explore_Around/hotel/">Hotel</a>
		<a href="/Explore_Around/weather/">Weather</a>
		<a href="/Explore_Around/login/">Login</a>
		<a href="/Explore_Around/mailus/">Mail Us</a>
		<a href="/Explore_Around/aboutus/">About Us</a>
	</div>

	<div id="wrapper">
		<div id="text">
			<h3>Our project Travel-Go</h3><br>
			<p> This is our python based project containing concept of webscraping, graph taversal, Machine Learning<br>
				<small>Source: <a href="https://www.google.com" target="_blank">Google</a></small></p><br>
				
				<!-- target="_blank" helps in opening current link in new tab when link is clicked -->
		</div>
		<!--
		<p>
		<label><br>Email 
		<input type="text" name="city">
		</label>
		</p> -->
		
		{% if info %}
			<p style="font-size:20px; color:blue; font-family: "Times New Roman";">
				{{info}}
				
				<!--
			{% for i in info %}
				{% if i == ' ' %}
					<br>
				{% else %}
					{{i}}
				{% endif %}
			{% endfor %}
				-->

			</p>
		{% else %}
			<p>No polls are available.</p>
		{% endif %}

	</div>
	

	<p style="position:fixed;bottom:0;right:0px;border: 3px solid #00AAAA;padding: 10px;">
		A work by 
		<a href="https://github.com/github-ag/" style="text-decoration:None;">AG</a><a href="https://github.com/github-sr/" style="text-decoration:None;">SR</a>
	</p>
</body>
</html>