body {
  background-image: url("../Images/clouds.jpeg");
  margin: 0;

}
h2{
  color: #0c056d;
  position: relative;
left: 738px;
top: -130px;
font-size: 50px;
}

.heading {
  background-color: #ffde7d;
  height: 58px;

  text-align: center;

  font-family:cursive;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #0c056d;
  margin-top: 0;

}
.heading a{
  display: inline;
  color: red;
  position: absolute;
right: 165px;
top: 48px;
}
.navigation{
    z-index: 1;
  display: inline;
width:100%;
position: fixed;
top: 132px;
background-color: rgba(0,0,0,0.75);
/*height: 114px;*/
}
.navigation a{
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-align: center;
  font-size: 29px;
}
.navigation a:hover {
	background-color: #ddd;
	color: black;
}
.navigation a.active {
	background-color: #4CAF50;	/* Makes home link appear green highlighted */
	color: white;
}

.boy2{
  border-radius: 50%;
  position: relative;
left: 273px;
top: 198px;

}
.roundphoto
{
  border-radius: 50%;
}
.Destination{
  position: absolute;
left: 1100px;
top: 407px;
}
.Destination input{
  height: 40px;
  width: 300px;
  text-align: center;
}
.aboutustable{
  position: absolute;
left: 400px;
}
.column2{
  padding-left: 100px;
}
.describe{
  color: yellow;
}

.common{
  text-align: center;
font-family: cursive;
font-size: 20px;
font-weight: 500;
line-height: 1.5;
color: #0c056d;
position: relative;
top: 130px;
}
